= render :partial => 'quick_search'

%h1 Listing problems

%table
  %tr
    %th.wide Title
    %th.small
    %th Timestamp
    %th.hidden.visible-on-hover-everywhere.small Action

  - @existing.each do |problem|
    %tr.hover-table{:'data-hover' => 'visible-on-hover'}
      %td= link_to problem.title.first(45), problem
      %th= image_tag 'chat.png', :title => "This problem has #{problem.comments.count} comments" unless problem.comments.empty?
      %td.unobtrusive
        = problem.comments_last_updated_at.relative_time
      %td.hidden.visible-on-hover
        = link_to problem, :method => :delete, :confirm => 'Are you sure want to delete?', :class => 'simple-link', :title => 'delete permanently' do
          = image_tag 'trash.png', :size => "11x14"
        = link_to resolve_problem_path(problem), :confirm => 'Are you sure want to resolve?', :class => 'simple-link', :title => 'resolve problem' do
          = image_tag 'resolve.png'
%br

= link_to 'New Problem', new_problem_path

%br

- unless @resolved.empty?
  %h1 Resolved problems

  %table
    %tr
      %th Title
      %th
      %th.hidden Action

    - @resolved.each do |problem|
      %tr
        %td= link_to problem.title, problem
        %th= image_tag 'chat.png', :title => "This problem has #{problem.comments.count} comments" unless problem.comments.empty?
