= link_to request.referrer ? 'Back to search results' : 'Back to list', request.referrer ? request.referrer : problems_path

.problem
  %p#notice= notice

  %p
    %b Title:
    = @problem.title

  %p
    %b Description:
    = @problem.description_markdown

  .left
    = link_to 'Edit', edit_problem_path(@problem)
    - unless @problem.resolved?
      = link_to 'Resolve', resolve_problem_path(@problem), :confirm => 'Are you sure want to resolve?'

  .right
    - if @problem.previous_version
      = link_to 'Back in Time', problem_version_path(@problem, @problem.previous_version.version.id)
    - unless @problem.live?
      = link_to 'Forward in Time', @problem.next_version ? problem_version_path(@problem, @problem.next_version.version.id) : @problem
  .clear

  %h3 Listing comments:

  = render @problem.comments

  = link_to 'Comment the problem', new_problem_comment_path( @problem)