<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= link_to oauth_login_path( :facebook), {:alt => 'Login using facebook', :title => 'Login using facebook'} do %>
  <% image_tag 'facebook_128.png', :alt => 'Login using facebook', :title => 'Login using facebook' %>
<% end %>

<%= link_to oauth_login_path( :google_oauth2), {:alt => 'Login using google', :title => 'Login using google'} do %>
  <% image_tag 'google_128.png', :alt => 'Login using google', :title => 'Login using google' %>
<% end %>

<%= render :partial => "devise/shared/links" %>