!!! 5
%html
  %head
    %title Problem Or Not
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  #page
    %header
      = image_tag 'header.png', :size => '800x200'
      .clear
      - if user_signed_in?
        #user_info
          %p= "Welcome: #{current_user.email}"
          = link_to 'Logout', destroy_user_session_path, :method => :delete
        .clear

    %section
      = yield

    %aside
      = content_for :sidebar
